h1.name {
  float: left;
  margin: auto;
  padding: 20px;
  background-color: #4aaaa5;
  color: #ffffff;
  font-size: xx-large;
}

#top {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
}

nav {
  float: right;
  margin: auto;
  padding: 25px 10px;
  font-size: x-large;
}


.container {
  max-width: 960px;
  margin: auto;
  position: relative;
  height: 100%;
}

#content {
  margin: auto;
  padding: 40px 0px;
  position: relative;
  background-image: url("../images/hypnotize.png");
  background-position: left top;
  background-repeat: repeat;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

h1.title {
  color: #4aaaa5;
  font-size: xx-large;
  margin: 0 0 20px 0;
}

h2 {
  color: #4aaaa5;
  margin: 10px 0 20px 0;
}

img.icon {
  width: 60px;
  border: 0;
}

img.profile {
  width: 150px;
  margin: 0 10px 0 20px;
  float: left;
}

a {
  text-decoration: none;
  color: #666666;
  font-family: Arial;
}

a:visited {
  color: #666666
}

#aboutNav {

}

#portNav {

}

#contactNav {
  
}

hr {
  margin-bottom: 20px;
}

p {
  margin: 20px 10px;
}

article {
  max-width: 650px;
  float: left;
  padding: 20px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #cccccc;
}

aside  {
  max-width: 270px;
  float: right;
  padding: 10px 20px;
  background-color: #ffffff;
  text-align: center;
  border-style: solid;
  border-color: #cccccc;
}


footer {
  background-color: #666666;
  border-top-style: solid;
  border-top-width: 15px;
  border-top-color: #4aaaa5;
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  /*position: absolute;
  bottom: 0;*/
  width: inherit;
  z-index: 10;
}

body {
 margin: 0px;
 width: 100%;
 background-color: #aaaaaa;
}
